body {
	#padding-left: 25%;
	width: 500px;
	margin: auto;
	margin-top: 10px;
}

.context {
	font-size: 12px;
	font-style: italic;
	color: #888888; 
}

.logo {
	#border: 1px solid black;
	padding: 4px;
	font-weight: bold;
	background: #0481C4;
	color: #FFFFFF; 
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #5AA1C7;
}

.button {
	font-size: 14px;
	font-weight: bold;
	color: #0481C4;
	padding: 2px;
}

.button:hover {
	background: #0481C4;
	color: #FFFFFF;
	cursor: pointer;
}

#loginForm {
	margin: 0px 5px 10px 0px;
	display: none;
	height: 20px;
	float: right;
}

#top-nav {
	height: 25px;
	border-bottom: 1px solid #80AEBA;
	margin-bottom: 5px;
}

.right {
	float: right;
}
