body {
	padding-left: 400px;
	width: 500px;
}

.message {
	border: 1px solid #4A83A8;
	padding: 8px;
	margin-bottom: 15px;
	overflow: auto;
	text-align: left;
	overflow: hidden;
	clear: both;
}

.logo {
	#border: 1px solid black;
	padding: 4px;
	font-weight: bold;
	background: #0481C4;
	color: #FFFFFF; 
	cursor: pointer;
}

a {
	text-decoration: none;
	color: #5AA1C7;
}
a:hover {
	border-bottom: 1px dashed;
}
.button {
	font-size: 14px;
	font-weight: bold;
	color: #0481C4;
	padding: 2px;
}
.button:hover {
	background: #0481C4;
	color: #FFFFFF;
	cursor: pointer;
}
#login-bar {
	margin: 0px 5px 10px 0px;
	display: none;
	height: 20px;
	float: right;
}
#top-nav {
	height: 25px;
	border-bottom: 1px solid #80AEBA;
	margin-bottom: 5px;
}

.right {
	float: right;
}
