$def with (session, messages)

<html>
	<head>
		<title>blog</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" /> 
		<script>
		</script>
		<style type="text/css">
			.message {
				border: 1px solid #4A83A8;
				padding: 5px;
				margin-bottom: 15px;
			}
			textarea {
				resize: none;
			}
		</style>
	</head>

	<body>
		Username: <b>$session.username</b>
		<a href="/logout">logout</a>
		<hr />
		<form method="post" action="/post">
			<textarea cols="50" rows="5" name="body"></textarea><br />
			<input type='submit' value='post'>
		</form>	
		$for message in messages:
		<div class='message'>
			$message.body<br /> 
			<span style="font-size: 12px; color:#B0B0B0">Posted on $message.created.strftime("%B %d at %H:%M") 
			</span>
		</div>
	</body>
</html>
