$def with (session, messages)

<html>
	<head>
		<title>blog</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" /> 
		<script type="text/javascript" src="main.js"></script>
		<script>
			document.onload = alert('df');
		</script>
		<style type="text/css">
			.message {
				border: 1px solid #4A83A8;
				padding: 5px;
				margin-bottom: 15px;
				overflow: auto;
				text-align: left;
			}
			a {
				text-decoration: none;
			}
			a:hover {
				border-bottom: 1px dashed;
			}
			textarea {
				resize: none;
			}
			body {
				width: 500px;
			}
		</style>
	</head>

	<body>
		<span style="border: 2px solid black; padding: 2px; font-weight: bold;">simple blog engine</span>
		Username: <b>$session.username</b>
		<a href="/logout">logout</a>
		<hr />
		<form method="post" action="/post">
			<textarea cols="40" rows="5" name="body"></textarea><br />
			<input type='submit' value='post'>
		</form>	
		$for message in messages:
		<div class='message'>
			$message.body<br /> 
			<a href="../post/$message.id"><span style="font-size: 12px; color:#B0B0B0">Posted on $message.created.strftime("%B %d at %H:%M")</span></a>
			<a href="../delete/$message.id"><span style="float: right; font-size: 12px; color:#B0B0B0">delete</span></a>
		</div>
	</body>
</html>
