$def with (messages)

<html>
	<head>
		<title>blog</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" />
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" type="text/css" href="/static/css/message.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/corner.js"></script>
		<script type="text/javascript" src="/static/js/main.js"></script>
		<script type="text/javascript" src="/static/js/message.js"></script>
		<script type="text/javascript" src="/static/js/jquery.form.js"></script>
		<script>
			$$(document).ready(function(){
				$$('.message').corner('5px');
			});

			function messageFormSubmit() {
				if($$('#message').val() != '') {
					$$('#submit-button').html('posting...');
					$$('#img-loader').show();
					$$("#form").ajaxSubmit({
						url: "/post",
						success: function() {
							$$("#message").val('');
							$$('#submit-button').html('posted')
							$$('#img-loader').hide();
							window.location.reload();
						}
					});
				};
				return false;
			};

			function ctrlEnter(event)
			{
				if((event.ctrlKey) && ((event.keyCode == 0xA)||(event.keyCode == 0xD))) { messageFormSubmit(); }
			};

		</script>
		<style type="text/css">
			textarea {
				resize: none;
				width: 100%;
				margin-bottom: 5px;
			}
		</style>
	</head>

	<body>
		$:render.top_bar()
		<form name='myform' method='post' action='/post' id='form' onKeyPress='ctrlEnter(event)'>
			<textarea cols="40" rows="4" name="body" id='message'></textarea><br />
			<span class='button'  onCLick='messageFormSubmit()' id='submit-button'>post</span><img class='right' id='img-loader' style='display: none' src='/static/ajax-loader.gif'>
		</form>
		$for message in messages:
		$:render.message(message, {'time' : True, 'author' : False, 'delete' : True,} )
	</body>
</html>

