$def with (session, messages)

<html>
	<head>
		<title>blog</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" /> 
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/user.js"></script>
		<script>
			$$(function(){
			});
		</script>
		<style type="text/css">
			.right {
				float: right;
			}
			hr {
				margin-bottom: 5px;
			}
		</style>
	</head>

	<body>
		$:render.top_bar(session)
		<!--<div id="top-nav">
			<span class="logo">simple blog engine</span>
		$if session.loggedin:
				[img] <b>$session.username</b>
				<span class="right"><a href="/logout">logout</a></span>
		$else:
			<span class='right' ><span class='button' onClick="$$('#login-bar').slideToggle()">log in</span> <span style='font-size: 17px; color: #80AEBA'>or</span> <span class='button'>sign up</span>
		</div>
		<div id="login-bar" >
			<input id='login' type=text style="border: 1px solid #51A2E8;"><input id='password' type=password style="border: 1px solid #51A2E8;"><span onClick="login($$('#login')[0].value, $$('#password')[0].value)" class='button'>hammertime!</span>
		</div>-->
		$for message in messages:
		<div class='message'>
			$message.body<br /> 
			<a href="../post/$message.id"><span style="font-size: 12px; color:#B0B0B0">Posted on $message.created.strftime("%B %d at %H:%M")</span></a>
			<span style="font-size: 12px; color:#B0B0B0">by 
				$ name = getName(message.author)
				$if name == session.username:
					<a href="/home">you</a>
				$else:
					<a href="/$name">$name</a>
			</span>
		</div>
	</body>
</html>
