$def with (message,  params)

	<div class='message' id='$message.id'>
		<div style='margin-bottom: 7px; word-break:break-all'>$message.body</div> 
		<a href="../post/$message.id"><span class='in_message' >Posted on $message.created.strftime("%B %d at %H:%M")</span></a>
		$if params['author']:
			<span class='in_message'><span style='border: 0px;'>by</span>
				$ name = getName(message.author)
				$if name == session.username:
					<a href="/home">you</a>
				$else:
					<a href="/$name">$name</a>
			</span>
		$if params['delete']:
			<span class='in_message' onClick="if (confirm('A you shure? You can\'t undelete message!')) deletePost($message.id);" style="float: right; display: none;">delete</span>
	</div>
