$def with (session)

<html>
	<head>
		<title>blog</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" /> 
		<script>
		</script>
		<style type="text/css">
		</style>
	</head>

	<body>
		$if session.loggedin:
			<form method="post" action="/post">
				<input type="text" name="topic"><br />	
				<textarea cols="50" rows="10" name="body"></textarea><br />
				<input type='submit' value='post'>
			</form>	
		$else:
			You are not logged in. Wanna <a href="/login">login</a>? Or <a href="/reg">sign up</a>?
		</span>

	</body>
</html>
