$def with (message)

<html>
	<head>
		<title>post #$message.id</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" /> 
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/user.js"></script>
		<script>
		</script>
		<style type="text/css">
		</style>
	</head>

	<body>
		$:render.top_bar(session)
		<div class='message'>
			$message.body<br /> 
			<span style="font-size: 12px; color:#B0B0B0">Posted on $message.created.strftime("%B %d at %H:%M") by $getName(message.author)</span>
		</div>
	</body>
</html>
