$def with ()
		<script>
			function loginFormSubmit() {
				$$('#loginButton').removeClass('button').html("<img src='/static/ajax-loader.gif'>")
				$$("#loginForm").ajaxSubmit({
					url: "/login",
					success: function(data) {
						if (data == 0) {
							window.location = '/home';
						}
						else {alert('error!')}
					}
				});
				return false;
			};
		</script>
		<div id="top-nav">
			<span class="logo" onClick="window.location = 'http://' + window.location.host">simple blog engine</span>
			$if session.loggedin:
				[img] <b>$session.username</b>
				<span class="right button" onClick="window.location = './logout'">logout</span>
			$else:
			<span class='right' ><span class='button' onClick="$$('#loginForm').slideToggle(); $$('#login').focus()">log in</span> <span style='font-size: 17px; color: #80AEBA'>or</span> <span class='button'>sign up</span></span>
		</div>
			$if not session.loggedin:
				<form id='loginForm' name='loginForm' method='post' action='/login'>
					<input id='login' name='login' type='text' style="border: 1px solid #51A2E8; font-size: 12px; width: 150px;">&nbsp;<input name='password' type=password style="border: 1px solid #51A2E8; font-size: 12px; width: 150px;">&nbsp;<span id='loginButton' onClick='loginFormSubmit()' class='button'>→</span>
				</form>
		<script>$$('#login, #password').each(
					function(){
						$$(this).keyup(function(e) {
							if(e.keyCode == 13) { loginFormSubmit() }
						});
					}
				);
		</script>
