$def with (session)

		<div id="top-nav">
			<span class="logo" onClick="window.location = window.location.origin">simple blog engine</span>
			$if session.loggedin:
				[img] <b>$session.username</b>
				<span class="right button" onClick="window.location = './logout'">logout</span>
			$else:
			<span class='right' ><span class='button' onClick="$$('#login-bar').slideToggle()">log in</span> <span style='font-size: 17px; color: #80AEBA'>or</span> <span class='button'>sign up</span>
		</div>
			$if not session.loggedin:
				<div id="login-bar" >
					<input id='login' type=text style="border: 1px solid #51A2E8;"><input id='password' type=password style="border: 1px solid #51A2E8;"><span id='login_button' onClick="login($$('#login')[0].value, $$('#password')[0].value)" class='button'>hammertime!</span>
				</div>
		<script>$$('#login, #password').each(
					function(){
						$$(this).keyup(function(e) {
							if(e.keyCode == 13) { $$('#login_button').click(); }
						});
					}
				);
		</script>
