$def with (messages, user)

<html>
	<head>
		<title>blog</title>
		<link rel="shortcut icon" type="image/ico" href="/static/favicon.ico" /> 
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<script type="text/javascript" src="/static/js/jquery.js"></script>
		<script type="text/javascript" src="/static/js/message.js"></script>
		<script>
		</script>
		<style type="text/css">
		</style>
	</head>

	<body>
		<span class="logo" >simple blog engine</span>
		<!--
		Username: <b>$session.username</b>
		<a href="/logout">logout</a>
		<hr />
		<form method="post" action="/post">
			<textarea cols="40" rows="5" name="body"></textarea><br />
			<input type='submit' value='post'>
		</form>
		-->
		<b>$user</b><br />
		<hr />
		$for message in messages:
		<div class='message'>
			$message.body<br /> 
			<span style="font-size: 12px; color:#B0B0B0">Posted on $message.created.strftime("%B %d at %H:%M")</span>
			<!--<span onClick="if (confirm('A you shure? You can\'t undelete message!')) deletePost($message.id);" style="float: right; font-size: 12px; color:#B0B0B0">delete</span>-->

		</div>
	</body>
</html>
